# Archivos de configuración local que contienen secretos
config.json

# Dependencias del proyecto
node_modules

# Archivos de build y temporales
dist
dist-electron
release
.cache
*.log

# Directorios de IDEs
.vscode
.idea
